node_modules
.nuxt
.output
playwright-report
test-results
tests
tests-pom
tests-pom-learner
playwright.config.ts
playwright.live.config.ts
playwright.pom.config.ts
playwright.pom.tls.config.ts
playwright.pom.rls-spring-off.config.ts
playwright.pom-learner.config.ts
playwright.rls-flag-off.config.ts
*.md
tests-pom/.auth
tests-pom-learner/.auth
tests/.auth
*.log
